/CategoriaProfesor.class
/Centro.class
/CursoPropio.class
/EstadoCurso.class
/Estudiante.class
/Materia.class
/Matricula.class
/ModoPago.class
/Profesor.class
/ProfesorExterno.class
/ProfesorUCLM.class
/TipoCurso.class
